form > span {
    color: red;
}

form > label {
    display: inline-block;
    width: 50%;
    margin-right: 2em;
    text-align: right;
}

form > button {
    margin-left: 50%;
}


input[type=text] {
    margin-bottom: 1em;
}


@media only screen and (max-width: 475px) {
    form > label {
        width: 100%;
        text-align: left;
    }

    form > button {
        margin-left: 0%;
    }
}